.read-page-container {
	display: inline-block;
	text-align: left;
	font-family: SimSun, "宋体";
	font-weight: bold;
	color: #8EA9FF;
}

.read-page-container p {
	margin: 0;
	padding: 0;
}

.read-glance-active {
	color: #000;
}

.read-glance-no-active {
    color: rgba(142, 169, 255, 0.25);
}
